/* Style the body to set default styles for the page.*/
* {
  padding: 0;
  margin: 0;
}

ul, ol {
  margin-left: 25px;
}

html{
  background-color: #55423d;
  font-family: "Arial","Verdana", sans-serif;
  font-size: 20px;
  color: #fff3ec;
}

img{
opacity: 1.0;
  height: 300px;
  width:auto;
}

h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  text-align: center;
}

ul li{
  list-style-type: square;
  }

#time{
  font-weight: bold;
  color: #e78fb3;  
}

/*change subtitle font size to larger than the default. */
/*Change the times to a bold font-weight*/
/*select the times inside of the lists and change to a different color*/
/*select the link and change it's color; */
/*select h1 and h2 elements and change their case to uppercase*/
